[Desktop Entry]
Version=1.0
Type=Application
Name=Videomass
Comment=GUI for FFmpeg and yt-dlp
Comment[ar]=واجهة رسومية لـ FFmpeg وyt-dlp
Comment[cs]=Grafické rozhraní pro FFmpeg a yt-dlp
Comment[de]=Grafische Oberfläche für FFmpeg und yt-dlp
Comment[es]=Interfaz gráfica para FFmpeg y yt-dlp
Comment[fr]=Interface graphique pour FFmpeg et yt-dlp
Comment[hu]=Grafikus interfész FFmpeg és yt-dlp számára
Comment[it]=Interfaccia grafica per FFmpeg e yt-dlp
Comment[nl]=Grafische interface voor FFmpeg en yt-dlp
Comment[pt]=Interface gráfica para FFmpeg e yt-dlp
Comment[ru]=Графический интерфейс для FFmpeg и yt-dlp
Comment[zh]=FFmpeg 和 yt-dlp 的图形界面
Categories=AudioVideo;
Icon=videomass
StartupNotify=true
StartupWMClass=videomass
Exec=videomass
Terminal=false


