[Desktop Entry]
Version=1.0
Type=Application

Name=Videomass
Comment=Videomass is a free, open source and cross-platform GUI for FFmpeg and Youtube-dl
Categories=AudioVideo;

Icon=videomass
Exec=videomass
Terminal=false
