#Files mentioned in this file will be ignored by git
*__pycache__
*.pyc
*.eggs
*.log
*.mbtree
*.cutree
transforms.trf
dist
build
videomass.egg-info
deb_dist
videomass.spec
Videomass.spec
*.tar.gz
ENV
env
*.spec
*.AppImage
*.egg-info
Pipfile
Pipfile.lock
*.DS_Store
*.directory
*.kate-swp
portable_data
My_Files
*~
*.mo
