include launcher README.md AUTHORS BUGS CHANGELOG INSTALL LICENSE TODO
include tests/*
recursive-include debian *
recursive-include develop *
recursive-include docs *
recursive-include videomass/art *
recursive-include videomass/share *
recursive-include videomass/locale *
recursive-include videomass/FFMPEG *
