#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Videomass2
GenericName=A Free and cross-platform GUI for FFmpeg
Comment=Audio/Video Converter Interface
Exec=videomass2 %U
Icon=/usr/local/share/pixmaps/videomass2.png
Terminal=false
Type=Application
Categories=AudioVideo;
