// $body-background-color: $grey-dk-300; (this is default
// #201f1f (use as alternative for body-background-color, sidebar-color and search-background-color
$body-background-color: #1c2027;
$sidebar-color: #1c2027;
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: $green-100;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-250;
// $search-background-color: $grey-dk-250;
$search-background-color: #1c2027;
$table-background-color: $grey-dk-000;
$feedback-color: darken($sidebar-color, 3%);
