Source: videomass
Maintainer: Gianluca Pernigotto <jeanlucperni@gmail.com>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>=11~), dh-python
Standards-Version: 4.1.4
Homepage: https://github.com/jeanslack/Videomass
X-Python3-Version: >= 3.7





Package: python3-videomass
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         ffmpeg,
         youtube-dl,
         python3-wxgtk4.0,
         python3-pubsub
Suggests: mpv,
          atomicparsley
Description: Videomass is a cross-platform GUI for FFmpeg and youtube-dl
 Videomass is a cross-platform GUI designed for medium advanced users who
 need to store profiles and automate some conversion processes, but which
 can also be used by beginner users through the use of ready-to-use presets.
 It features graphic tools with high automation capabilities such as PEAK,
 RMS and EBU audio normalization filters with selectable audio stream indexing,
 streams analyzer and more.
 .
 It allows you to create new presets or import/export existing ones, write and
 edit new conversion profiles in order to use FFmpeg without limits of formats,
 codecs and commands.
 .
 In fact, most of the operations performed with FFmpeg via the command line,
 can be stored as conversion profiles on Videomass and can be performed or
 modified on the fly.
 .
 Videomass also offers a graphical interface for the famous video downloader
 youtube_dl and allows you to choose between various download options like a
 specific format codes with the ability to playback individual URLs with
 different qualities via mpv player. Allows also to download all playlist,
 embed thumbnail in audio file (via atomicparsley), add metadata to file and
 write subtitles to video.
 .
 Videomass is written in Python3 with the wxPython-Phoenix toolkit.

