#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=Videomass
Exec=videomass %U
GenericName=Graphical interface for FFmpeg and youtube-dl.
GenericName[it]=Interfaccia grafica per FFmpeg e youtube-dl
Icon=videomass
Terminal=false
Categories=AudioVideo;
